.buttonUI {
  width: 2.72rem;
  height: 0.88rem;
  background: url('../../assets/index/rectangle.png') no-repeat;
  background-size: auto 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.line {
  width: 1.6px;
  height: 0.38rem;
}
