.Share {
  background: url('../../../assets/index/6.svg') no-repeat;
  background-size: 100%;
  width: 7.5rem;
  height: 100vh;

  .share-bg {
    background: url('../../../assets/index/5.png') no-repeat;
    background-size: 100%;
    width: 7.5rem;
    height: 100vh;
    color: #ffffff;
    padding: 44px 25px 0 25px;
  }

  .hrader {
    margin: 0 -20px;
  }

  .content {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(187, 194, 205, 0.5);
    border-radius: 8px;
    padding: 0.32rem;
    margin-top: 18px;
  }

  .content_img {
    width: 5.88rem;
    height: 5.88rem;
    border-radius: 4px;
  }

  .nft_title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0.32rem;
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg, #7b3cf4 0%, #00fcff 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .promote {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(187, 194, 205, 0.5);
    border-radius: 8px;
    border-top: 0.6px dashed #363853;
    padding: 0.32rem;

    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;

      &-notice {
        width: 4rem;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #363853;
      }

      &-img {
        width: 1.28rem;
        height: 1.28rem;
      }
    }

    &-bottom {
      font-size: 10px;
      line-height: 14px;
      color: #363853;
      opacity: 0.6;
    }

    .promote-button {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      font-weight: 500;
      font-size: 12px;
      color: #ffffff;
    }

    .promote-save-button {
      width: 136px;
      line-height: 44px;
      text-align: center;
      background: #6c55c6;
      border-radius: 4px;
    }

    .promote-copy-button {
      width: 136px;
      line-height: 44px;
      text-align: center;
      background: linear-gradient(270deg, #5b6ff8 -13.01%, #27b8c5 100%);
      border-radius: 4px;
    }
  }
}
