@import "../../../../common/scss/common.scss";

.settingContainer {
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
}

.settingContent {
  width: 92%;
  margin: 0 auto;
  padding-top: 20px;
  .settingTitle {
    padding-top: 20px;
    font-weight: 700;
    font-size: 28px;
    color: #1A3771;
    padding-bottom: 20px;
  }
}
