.popupContainer {
  min-height: 60vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    overflow-y: scroll;
  }
  .List {
    margin-top: 10px;
    padding: 0 30px;
    .ListItem {
      padding: 20px 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
      border-bottom: 1px solid #f0f5fa;
    }
  }
}
