@import '../../../../common/scss/common.scss';

.container {
  background-image: url('../../../../assets/home/home_bg.png');
  background-position-y: 0;
  background-size: cover;

  .content {
    margin-top: 120px;
    padding-bottom: 107px;
    background-color: #dfe3e9;
  }
  .Package {
    margin-top: -78px;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    div:first-of-type {
      img {
        width: 24px;
        height: 24px;
      }
      span {
        margin-left: 10px;
        margin-right: 4px;
      }
    }
    div:last-of-type {
      margin-top: 12px;
      p {
        line-height: 14px;
        color: #818a9b;
      }
      p:first-of-type {
        margin-bottom: 6px;
        font-weight: bold;
      }
    }
    .gift {
      margin-right: 16px;
    }
  }

  .PackageCard {
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    .PackageCardItem {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      &:last-of-type {
        margin: 0;
      }
      img {
        margin-right: 14px;
        width: 38px;
        height: 38px;
      }
      p {
        line-height: 14px;
        &:first-of-type {
          margin-bottom: 6px;
        }
      }
    }
  }
}

.TimeSqueeze {
  padding: 24px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(187, 194, 205, 0.5);
  border-radius: 4px;
  p {
    line-height: 14px;
    color: #818a9b;
  }
  .Steps {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    .Step {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #818a9b;
      span:nth-child(2) {
        position: relative;
        margin: 14px 0;
        width: 100%;
        height: 1px;
        background: #363853;
        box-shadow: 0px 0px 4px rgba(187, 255, 234, 0.5);
        text-align: center;
        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 8px;
          background: #363853;
          border-radius: 50%;
          box-shadow: 0px 0px 4px rgba(187, 255, 234, 0.5);
        }
      }
      &.current {
        color: #363853;
      }
      &:first-of-type {
        align-items: start;
        span:nth-child(2) {
          &::before {
            left: 0;
            transform: translate(0, -50%);
          }
        }
      }
      &:last-of-type {
        align-items: end;
        span:nth-child(2) {
          &::before {
            left: 100%;
            transform: translate(-100%, -50%);
          }
        }
      }
    }
  }
}

.Rule {
  margin-top: 14px;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(187, 194, 205, 0.5);
  border-radius: 4px;
  p {
    line-height: 14px;
    color: #818a9b;
  }
}

.SubmitOrder {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 16px 24px;
  width: 100%;
  max-width: 7.5rem;
  height: 83px;
  background-color: #fff;
  .Order {
    display: flex;
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
    .Input {
      border-top: 1px solid #e7ecf5;
      border-bottom: 1px solid #e7ecf5;
      width: 58px;
      text-align: center;
      input {
        text-align: center;
      }
    }
    button {
      width: 48px;
      font-size: 18px;
      border-radius: 0;
    }
    .Add {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      --background-color: #363853;
      --text-color: #fff;
      --border-color: #363853;
    }
  }
  .Submit {
    flex: 1;
    margin-left: 23px;
  }
}
