@import '../../../common/scss/common.scss';

.container {
  // padding: 22px 0 40px 32px;
  // padding-top: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('../../../assets/login/login_header_bg.png');
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    margin-top: 24px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    background-image: linear-gradient(270deg, #7b3cf4 -13.01%, #00fcff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  h2 {
    padding-left: 30px;
    margin: 8px 0 30px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .content {
    flex: 1;
    padding: 80px 30px 58px;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
  }

  .codeInput {
    // margin-top: 40px;
    --cell-size: 46px;
    --cell-gap: 8px;
    --border-color: #27b8c5;
    --border-radius: 4px;
  }
  .submit {
    margin-top: 100px;
    height: 48px;
    background: linear-gradient(270deg, #5b6ff8 -13.01%, #27b8c5 100%);
    border: none;
    font-size: 14px;
    &:disabled {
      background: #f0f5fa;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
