@import '../../../common/scss/common.scss';

.container {
  // padding: 22px 0 40px 32px;
  padding-top: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('../../../assets/login/login_header_bg.png');
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    padding-left: 30px;
    font-weight: 700;
    font-size: 34px;
    line-height: 30px;
    background-image: linear-gradient(270deg, #7b3cf4 -13.01%, #00fcff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  h2 {
    padding-left: 30px;
    margin: 12px 0 30px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .content {
    flex: 1;
    padding: 10px 30px 58px;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Form {
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
    :global(.adm-list-body) {
      background-color: transparent;
      border: none;
      width: 100%;
    }
    :global(.adm-list-item) {
      background-color: transparent;
      width: 100%;
      padding: 0;
    }
    :global(.adm-list-item-content-main) {
      padding: 30px 0 0;
    }
    :global(.adm-list-item-content) {
      display: block;
      padding-right: 0;
    }
    :global(.adm-form-item-feedback-error) {
      font-size: 12px;
    }
    :global(.adm-form-footer) {
      padding: 0;
    }

    .FormItem {
      :global(.adm-form-item-label) {
        font-size: 14px;
        color: #000;
        margin-bottom: 14px;
      }
      .input {
        padding: 0 17px;
        color: #000;
        --font-size: 14px;
        height: 48px;
        --placeholder-color: #d6dde5;
        background: #f0f5fa;
        border-radius: 4px;
        &.password {
          padding-right: 42px;
        }
      }
      :global(.adm-form-item-child-inner) {
        position: relative;
      }
      .eye {
        position: absolute;
        height: 16px;
        top: 81px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .forgot {
    margin: 14px 0 74px;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #b3b9bf;
  }
  .submit {
    height: 48px;
    background: linear-gradient(270deg, #5b6ff8 -13.01%, #27b8c5 100%);
    border: none;
    font-size: 14px;
    &:disabled {
      background: #f0f5fa;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  .register {
    margin-top: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    letter-spacing: -0.24px;
    button {
      color: #27b8c5;
    }
  }
  .LoginFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
  }
}
