// $yicheyou
$hm-prefix: hm;

// color text
$text-color: #252d35;
$text-color-secondary: #4e6585;
$text-color-inverse: #fff;
$text-color-blue: #3982a2;
$text-color-subtitle: #3c4d66;

// button color
$primary-color: #39b1d1;
$info-color: #70b4f9;
$success-color: #1ed278;
$warn-color: #ffa100;
$danger-color: #ed6114;
$color-hight: #ff7a00;
$color-purple: #9e56ff;

// background
$background-color-df: #f3f6f7;
$component-background: #fff;

// antd theme color
:root {
  --adm-color-primary: #39b1d1;
}

body {
  touch-action: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  // font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace,
    sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  // 默认字号大小
  font-size: 12px;
  line-height: 1;
  max-width: 7.5rem;
  margin: 0 auto;
  background-color: #fff;
}
#root {
  background-color: $background-color-df;
  box-shadow: 0px 15px 25px rgba(206, 212, 222, 0.2);
}

.hm-container {
  width: 100%;
  height: 100%;
  padding-top: 0.88rem;
}
.hm-content {
  height: 100%;
  min-height: 100%;
}

p,
span {
  word-wrap: break-word;
  word-break: keep-all;
}

// 隐藏滚动条
.hiddenScroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hiddenScroll::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.clearfix {
  zoom: 1;
}
.flex-j-e {
  justify-content: end;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.flex-c {
  justify-content: center;
  align-items: center;
}
.flex-j-b {
  justify-content: space-between;
}
.flex-d {
  flex-direction: column;
}

.flex-j-a {
  justify-content: space-around;
}

.flex-j-c {
  justify-content: center;
}
.flex-a-c {
  align-items: center;
}
.flex-end {
  align-items: flex-end;
}

.hiddenScroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hiddenScroll::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

// =================== font-size
.font-base {
  font-size: 14px;
}
.font-sm {
  font-size: 12px;
}
.font-xl {
  font-size: 16px;
}
.font-xxl {
  font-size: 28px;
}
.font-700 {
  font-weight: 700;
}
.font-500 {
  font-weight: 500;
}
//==================== color
.text-color-base {
  color: #363853;
}
.tetx-color-secondary {
  color: #83848c;
}
.text-color-black {
  color: #000;
}
.text-color-white {
  color: #fff;
}
.text-color-success {
  color: #25cb85;
}
.text-color-error {
  color: #f53b12;
}
.text-color-article {
  color: #818a9b;
}
.text-color-primary {
  color: #27b8c5;
}
.text-color-linear-base {
  background-image: linear-gradient(270deg, #7b3cf4 -13.01%, #00fcff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-color-linear-gold {
  background-image: linear-gradient(276.5deg, #ffa133 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-color-27B8C5 {
  color: #27B8C5;
}
// ================== padding
.p-10 {
  padding: 10px;
}
.p-16 {
  padding: 16px;
}
.pl-10 {
  padding-left: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-14 {
  padding-top: 14px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-18 {
  padding-bottom: 18px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-24 {
  padding-top: 24px;
}
.pl-30 {
  padding-left: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-60 {
  padding-top: 60px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-12 {
  padding-left: 12px;
}
.pr-12 {
  padding-right: 12px;
}
.pb-14 {
  padding-bottom: 14px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-36 {
  padding-bottom: 36px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-60 {
  padding-bottom: 60px;
}
.ptb-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.plr-14 {
  padding-left: 14px;
  padding-right: 14px;
}
.pt-6 {
  padding-top: 6px;
}

// ======margin
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}

// =============op
.op-50 {
  opacity: 0.5;
}
.line {
  width: 100%;
  border-bottom: 1px solid #f5f9fa;
}
.fontBold {
  font-weight: 500;
}
.paddingL10 {
  padding-left: 0.2rem;
}
.paddingR10 {
  padding-right: 0.2rem;
}
.fontSize28 {
  font-size: 0.28rem;
}
.paddingT16 {
  padding-top: 0.32rem;
}
.marginT24 {
  margin-top: 0.48rem;
}
.marginB20 {
  margin-bottom: 0.2rem;
}
.marginB28 {
  margin-bottom: 0.28rem;
}
.flex-j-b {
  justify-content: space-between;
}
.flex1 {
  flex: 1;
}
.paddingB24 {
  padding-bottom: 0.24rem;
}
.paddingT24 {
  padding-top: 0.24rem;
}

// text align
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// ========= antd-mobile

.adm-list-item {
  // background-color: #f3f6f7 !important;
}

.adm-list-body {
  background-color: transparent !important;
}
.adm-form-item {
  background-color: transparent !important;
  .adm-list-item-content {
    border-top: none;
  }
}

.footer {
  position: fixed;
  width: 92%;
  bottom: 20px;
}

.hn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../assets/login/login_header_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -44px;
  width: 100%;
  height: 100%;
  h1 {
    margin-top: 24px;
    padding-left: 30px;
    font-weight: 700;
    background-image: linear-gradient(270deg, #7b3cf4 -13.01%, #00fcff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  h2 {
    padding-left: 30px;
    margin: 8px 0 26px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .content {
    flex: 1;
    padding: 30px;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
  }
}
.Form {
  padding-top: 10px;
  width: 100%;
  box-sizing: border-box;
  .adm-list-body {
    background-color: transparent;
    border: none;
    width: 100%;
  }
  .adm-list-item {
    background-color: transparent;
    width: 100%;
    padding: 0;
  }
  .adm-list-item-content-main {
    padding: 30px 0 0;
  }
  .adm-list-item-content {
    display: block;
    padding-right: 0;
  }
  .adm-form-item-feedback-error {
    font-size: 12px;
  }
  .adm-form-footer {
    padding: 0;
  }

  .FormItem {
    .adm-form-item-label {
      font-size: 14px;
      color: #000;
      margin-bottom: 14px;
    }
    .input {
      padding: 0 17px;
      color: #000;
      --font-size: 14px;
      height: 48px;
      --placeholder-color: #d6dde5;
      background: #f0f5fa;
      border-radius: 4px;
      &.password {
        padding-right: 42px;
      }
    }

    .eye {
      position: absolute;
      height: 16px;
      // bottom: 16px;
      top: 81px;
      right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .submit {
    height: 48px;
    background: linear-gradient(270deg, #5b6ff8 -13.01%, #27b8c5 100%);
    border: none;
    font-size: 14px;
    &:disabled {
      background: #f0f5fa;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
.btn-color-linear-base {
  height: 48px;
  background: linear-gradient(270deg, #5b6ff8 -13.01%, #27b8c5 100%);
  border: none;
  font-size: 14px;
  color: #fff;
  &:disabled {
    background: #f0f5fa;
    color: rgba(0, 0, 0, 0.4);
  }
}
.btn-color-linear-dark {
  height: 48px;
  background: linear-gradient(270deg, #2a2c49 0%, #363853 100%);
  border: none;
  font-size: 14px;
  color: #fff;
  &:disabled {
    background: #f0f5fa;
    color: rgba(0, 0, 0, 0.4);
  }
}
.codeInput {
  margin-top: 40px;
  --cell-size: 46px;
  --cell-gap: 9px;
  --border-color: #27b8c5;
  --border-radius: 4px;
  --dot-size: 8px;
}

/* List Tab  */

.list-tab {
  display: flex;
  align-items: center;
  position: relative;
  .list-tab-item {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    div {
      padding: 12px;
      min-width: 80px;
      height: 36px;
      background: #ffffff;
      border-radius: 4px;
      color: #83848c;
      white-space: nowrap;
      transition: all 0.3s;
      text-align: center;
      &:not(:last-of-type) {
        margin-right: 12px;
      }
      &.active {
        color: #fff;
        background: linear-gradient(270deg, #5b6ff8 0%, #27b8c5 100%);
      }
    }
  }
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    background: #dfe3e9;
    height: 100%;
    z-index: 3;
  }
}
